<div class='paper-material mdl-card mdl-shadow--2dp' >
  <div class='card-text-title mdl-card__title'>
    <h2 class='mdl-card__title-text'>Erros associados:</h2>
  </div>
  <div class='text-definitions mdl-card__supporting-text'>
    Este texto ainda não possui erros associados.
    <br><br><br>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button class='mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect' id='new_definition_bttn'>
      Criar nova definição
    </button>
  </div>
</div>
