<%= render 'search_blocs' %>

<div class="pagination-items">
  <%= render 'list_blocs' %>
</div>

<%= link_to t('links.new', model: Btp::Bloc.model_name.human), new_btp_bloc_path,
    class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent bottom-right" %>
