<dialog id="dialog-edit-comment" class="mdl-dialog"style="width: 60%;">
  <h5 class="mdl-dialog__title">Editando comentário</h5>
  <div class="mdl-dialog__content">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full_size">
      <label class="mdl-textfield__label" for="comment">Comentário</label>
      <textarea class="mdl-textfield__input" type="text" id="comment-edit"></textarea>
    </div>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="btn-save-edited-comment">
      Salvar
    </button>
    <button type="button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Cancelar
    </button>
  </div>
</dialog>
