<section class="mdl-layout__tab-panel is-active" id="fixed-tab-inicio">
  <div class="page-content"><!-- Your content goes here -->
    <div class='welcome'>
      <img src="/assets/logo/email.svg"  height="100" width="100"/>
      <h1> Bem vindo ao Atlas </h1>
      <p>
          Atualmente o sistema está em fase de desenvolvimento.<br>
          As funcionalidades implementadas estão acessiveis através do menu lateral esquerdo.<br>
      </p>
      <h2> Funcionalidades aprimoradas </h2>
      <p>
          - Busca avançada: além da busca já disponível, agora você pode buscar textos pelo seu código (inteiro ou parcial) e também por trechos contidos em um ou mais textos.<br><br>
          - Adicionar a blocos: agora você pode selecionar trechos de um ou mais textos e adiconá-los a grupos os quais chamamos de "blocos", para posteriormente fazer análises sobre eles.
           <br>
      </p>
    </div>

  </div>
</section>
<section class="mdl-layout__tab-panel" id="fixed-tab-analises">
  <div class="page-content"><!-- Your content goes here -->
    análises
  </div>
</section>
<section class="mdl-layout__tab-panel" id="fixed-tab-modificacoes">
  <div class="page-content"><!-- Your content goes here -->
  últimas modificações
  </div>
</section>
