<h1 align="center">Banco de Textos de Aquisição da Linguagem Escrita (BATALE)</h1>
<p>
  O Banco de Textos de Aquisição da Linguagem Escrita (BATALE) foi criado em 2001 e marca o início das atividades do
  <a href="https://wp.ufpel.edu.br/geale/">Grupo de Estudos sobre Aquisição da Linguagem Escrita (GEALE)</a>. O BATALE
  atualmente abriga 7152 textos espontâneos, os quais estão distribuídos em 8 estratos, conforme especificado a seguir:
</p>

<table align="center">
  <thead>
    <tr>
      <th>Estrato</th>
      <th>Ano</th>
      <th>Material coletado</th>
      <th>Tipo de coleta</th>
      <th>Série/Ano</th>
      <th>Local da coleta</th>
      <th>Escola</th>
      <th>Número de textos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="center">Estrato 1</td>
      <td align="center">2001-2004</td>
      <td align="center">textos espontâneos</td>
      <td align="center">transversal e longitudinal</td>
      <td align="center">1ª a 4ª série Ensino Fundamental</td>
      <td align="center">Pelotas/RS/Brasil</td>
      <td align="center">Pública e Particular</td>
      <td align="center">2024</td>
    </tr>
    <tr>
      <td align="center">Estrato 2</td>
      <td align="center">2008</td>
      <td align="center">textos espontâneos</td>
      <td align="center">transversal</td>
      <td align="center">1º a 4º ano Ensino Básico</td>
      <td align="center">Lisboa/Portugal</td>
      <td align="center">Pública</td>
      <td align="center">96</td>
    </tr>
    <tr>
      <td align="center">Estrato 3</td>
      <td align="center">2009</td>
      <td align="center">textos espontâneos</td>
      <td align="center">transversal</td>
      <td align="center">1ª a 4ª série Ensino Fundamental</td>
      <td align="center">Pelotas/RS/Brasil</td>
      <td align="center">Pública</td>
      <td align="center">507</td>
    </tr>
    <tr>
      <td align="center">Estrato 4</td>
      <td align="center">2009</td>
      <td align="center">textos espontâneos</td>
      <td align="center">transversal</td>
      <td align="center">1º a 3º ano Ensino Básico</td>
      <td align="center">Porto/Portugal</td>
      <td align="center">Pública</td>
      <td align="center">783</td>
    </tr>
    <tr>
      <td align="center">Estrato 5</td>
      <td align="center">2009</td>
      <td align="center">textos espontâneos <br> ditados de imagens</td>
      <td align="center">transversal</td>
      <td align="center">1º a 4º ano Ensino Fundamental</td>
      <td align="center">Pelotas/RS/Brasil</td>
      <td align="center">Pública</td>
      <td align="center">155</td>
    </tr>
    <tr>
      <td align="center">Estrato 6</td>
      <td align="center">2009</td>
      <td align="center">textos espontâneos</td>
      <td align="center">transversal</td>
      <td align="center">EJA</td>
      <td align="center">Pelotas/RS/Brasil</td>
      <td align="center">Pública</td>
      <td align="center">98</td>
    </tr>
    <tr>
      <td align="center">Estrato 7</td>
      <td align="center">2013-2015</td>
      <td align="center">textos espontâneos <br> ditados balanceados</td>
      <td align="center">transversal e longitudinal</td>
      <td align="center">1º a 5º ano Ensino Fundamental</td>
      <td align="center">Pelotas/RS/Brasil</td>
      <td align="center">Pública</td>
      <td align="center">1765</td>
    </tr>
    <tr>
      <td align="center">Estrato 8</td>
      <td align="center">2014-2015</td>
      <td align="center">textos espontâneos <br> ditados balanceados</td>
      <td align="center">transversal e longitudinal</td>
      <td align="center">1º a 3º ano Ensino Fundamental</td>
      <td align="center">Porto Alegre/RS/Brasil</td>
      <td align="center">Pública</td>
      <td align="center">1724</td>
    </tr>
    <tr>
      <td align="center" colspan="7">Total de textos</td>
      <td align="center">7152</td>
    </tr>
  </tbody>
</table>

<h2><u>A coleta dos textos</u></h2>
<p>
  Todas as coletas de texto assim como a aplicação de ditados foram realizadas por
  integrantes do GEALE e seguiram a mesma metodologia. As oficinas de produção textual
  que visavam a produção de <em>textos espontâneos</em>, cumpriram a seguinte rotina:
  <em>aquecimento</em> (atividade de estimulação por meio de imagens ou diálogos),
  <em>produção</em> (atividade de escrita individual) e <em>socialização</em>
  (atividade de leitura das produções realizadas).
</p>

<p>
  <em>Um exemplo: a oficina "Chico Bento"</em>
</p>

<p>
  <em>Motivação:</em> os alunos foram estimulados a falar sobre personagens de HQs muito
  conhecidos no Brasil (Cascão, Mônica, Magali, Cebolinha e Chico Bento, personagens de
  Mauricio de Souza). Depois da atividade oral, foi apresentada uma reprodução grande e
  colorida da capa de uma revista em quadrinhos (40cm X 60cm, aproximadamente) e foi
  realizada uma atividade de leitura de imagem.
</p>

<img src="/assets/logo/small.png">
<p>
  Figura 1: Material para a oficina de produção textual.<br>
  Fonte: Gibi do Chico Bento, criação de Maurício de Souza, Editora Abril.
</p>

<p>
  <em>Produção:</em> cada aluno recebeu um envelope contendo uma história em quadrinhos
  sem diálogos e fora de ordem. A tarefa solicitada foi o ordenamento e a colagem dos
  quadrinhos em uma folha, definindo uma sequência narrativa. Em seguida, pedimos às
  crianças que produzissem seus textos escritos (sem interferência do adulto, deveriam
  escrever como achassem que deveria ser).
</p>

<p>
  <em>Fechamento:</em> socialização por meio da leitura das histórias produzidas.
</p>

<h2><u>O tratamento dos textos</u></h2>
<p>
  Em momento posterior ao da coleta, os textos e/ou ditados são armazenados em pastas
  catalográficas, próprias para a conservação adequada do material. Para sua melhor
  organização e catalogação, são criados códigos para cada texto, dispostos em planilhas
  de Excel, os quais contêm 11 campos:
</p>

<ol>
  <li>número do aluno;</li>
  <li>idade do aluno (ano, mês, dia);</li>
  <li>sexo do aluno;</li>
  <li>número do estrato do banco a que pertence o texto do aluno</li>
  <li>número da coleta a que pertence o texto do aluno;</li>
  <li>número do texto (pois as crianças podem escrever mais de um texto por coleta);</li>
  <li>ano em que foi feita a coleta do texto;</li>
  <li>tipo de texto produzido (argumentativo, descritivo, narrativo);</li>
  <li>sigla da escola à qual pertence o aluno;</li>
  <li>série/ano escolar do aluno;</li>
  <li>turma do aluno.</li>
</ol>

<p align="center">
  O resultado da composição do código de cada texto está exemplificado a seguir:
</p>

<p align="center">
  00004_080624_M_07_01_01_2013_TA_FO_4A_A
</p>

<p>
  Depois de preparados os códigos, os textos são digitados em formato <em>Word</em>,
  respeitando-se a grafia utilizada pelas crianças e a troca de linhas, sem qualquer
  tipo de correção. Os textos são, também, digitalizados e salvos em formato JPEG ou PDF.
</p>

<h2><u>A extração dos dados: os erros ertográficos</u></h2>
<p>
  Antes da elaboração do Sistema Vestígios, todas as grafias eram manualmente extraídas
  dos textos em que havia algum tipo de erro ortográfico, por meio de seu registro em
  fichas impressas específicas para a classificação dos erros, uma para cada aluno.
</p>

<img src="/assets/logo/small.png">
<p>
  Figura 2 – Exemplo de parte da ficha para levantamento dos erros.<br>
  Fonte: GEALE.
</p>

<p>
  Após, os dados eram inseridos em um programa computacional, criado especificamente
  para a pesquisa por Amaral (2004), a partir da plataforma <em>Microsoft Access</em>,
  o qual permitia a estocagem, a tabulação e a computação dos erros.
</p>

<img src="/assets/logo/small.png">
<p>
  Figura 3 – Tela inicial do programa Errortog, criado a partir da plataforma Microsoft
  Access, para a computação dos erros ortográficos.<br>
  Fonte: GEALE.
</p>

<p>
  Agora, com o novo sistema em funcionamento, os textos seguem sendo a matéria-prima de
  pesquisa no GEALE, porém o grande diferencial é a interface entre o banco de textos e
  o banco de erros, o que permite a classificação instantânea dos erros diretamente do
  manuseio com os textos, eliminando parte da extração manual e otimizando o tempo de trabalho.
</p>

<h2><u>Questões Éticas</u></h2>
<p>
  É importante destacar que qualquer forma de identificação das crianças participantes das
  coletas é suprimida no processo de tratamento dos textos e/ou ditados, de forma a preservar
  sua identidade bem como impedir qualquer forma de exposição, respeitando-se, assim, as normas
  éticas constitutivas da pesquisa científica. Ressalta-se, também, que as produções são coletadas
  mediante assinatura do Termo de Consentimento Livre e Esclarecido, pelos pais ou responsáveis
  (no caso das crianças), pela direção da escola-parceira.
</p>

<h2><u>Como fazer referência ao BATALE?</u></h2>
<p>
  MIRANDA, A. R. M. BATALE: Banco de Textos de Aquisição da Linguagem Escrita. Faculdade de Educação.
  Universidade Federal de Pelotas. 2001. Disponível em: sistemavestigios.org.
</p>
