<dialog id="dialog_add_to_bloc" class="mdl-dialog">
  <h5 class="mdl-dialog__title">Adicionar a um bloco</h5>
  <div class="mdl-dialog__content">
    Selecione o bloco.
    <% @batale_blocs.each do |bloc| %>
      <div class="close" onclick="saveToBloc('<%= bloc.id %>')">
        <h5><%= bloc.nome %></h5>
        <p><%= bloc.descricao %></p>
      </div>
    <% end %>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Adicionar
    </button>
    <button type="button" class="close mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
    onclick="fechar_dialog('dialog_add_to_bloc');">
      Cancelar
    </button>
  </div>
</dialog>
