<div>
  <%= render partial: "batale/texts/search_texts" %>
</div>

<dialog id='dwnld-text' class='mdl-dialog' style='width: 60%;'>
  <h5 class='mdl-dialog__title'>Opções de download</h5>
  <div class='mdl-dialog__content'>
    <ul class='mdl-list'>
      <li class='mdl-list__item'>
        <span class='mdl-list__item-primary-content'>
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="show-header">
            <input type="checkbox" id="show-header" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label">Mostrar Cabeçalho</span>
          </label>
        </span>
      </li>
      <li class='mdl-list__item'>
        <span class='mdl-list__item-primary-content'>
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="show-codigo-texto">
            <input type="checkbox" id="show-codigo-texto" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label">Mostrar Código do Texto</span>
          </label>
        </span>
      </li>
      <li class='mdl-list__item'>
        <span class='mdl-list__item-primary-content'>
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="show-texto-original">
            <input type="checkbox" id="show-texto-original" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label">Mostrar Texto Original</span>
          </label>
        </span>
      </li>
      <li class='mdl-list__item'>
        <span class='mdl-list__item-primary-content'>
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="show-texto-normatizado">
            <input type="checkbox" id="show-texto-normatizado" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label">Mostrar Texto Normatizado</span>
          </label>
        </span>
      </li>
      <li class='mdl-list__item' style="display:none">
        <span class='mdl-list__item-primary-content'>
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="show-text-label">
            <input type="checkbox" id="show-text-label" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label">Mostrar "Texto Original/Normatizado" antes do texto</span>
          </label>
        </span>
      </li>
    </ul>
  </div>
  <div class='mdl-dialog__actions'>
    <button type='button' id='dwnld-pdf' class='mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' disabled>
      Download
    </button>
    <button type='button' class='close mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' onclick="fechar_dialog('dwnld-text')">
      Cancelar
    </button>
  </div>
</dialog>

<div id="pagination-itens">
  <%= render "batale/texts/list_card_estratos" %>
</div>

<%= link_to 'Novo Texto', new_batale_text_path,
              class: "button_margin mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent",
              style: "position: absolute; right: 0; margin: 0% 5% 5% 0%;" %>

<script>
function show_bttn_dwnld() {
  if($("#show-texto-original")[0].checked || $("#show-texto-normatizado")[0].checked) {
    $("#dwnld-pdf")[0].removeAttribute('disabled');
    $("#show-text-label")[0].parentNode.parentNode.parentNode.removeAttribute('style');
  } else {
    $("#dwnld-pdf")[0].setAttribute('disabled', true);
    $("#show-text-label")[0].parentNode.parentNode.parentNode.setAttribute('style', 'display:none');
  }
}
$("#show-texto-original")[0].addEventListener('change', show_bttn_dwnld);
$("#show-texto-normatizado")[0].addEventListener('change', show_bttn_dwnld);
</script>
