<%= render "batale/blocs/search_blocs" %>

<div id="pagination-itens">
  <%= render "batale/blocs/list_blocs" %>
</div>

<%= link_to 'Adicionar Novo Bloco', new_batale_bloc_path,
              class: "button_margin mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent",
              style: "position: absolute; right: 0; margin: 0% 5% 5% 0%;" %>
