<dialog id="dialog_create_bloc" class="mdl-dialog"style="width: 60%;">
  <h5 class="mdl-dialog__title">Criar um Bloco</h5>
  <div class="mdl-dialog__content">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full_size">
      <input class="mdl-textfield__input" type="text" id="bloc_name">
      <label class="mdl-textfield__label" for="bloc_name">Nome</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full_size">
      <input class="mdl-textfield__input" type="text" id="bloc_description">
      <label class="mdl-textfield__label" for="bloc_description">Descrição</label>
    </div>
    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="bloc_private">
      <input type="checkbox" id="bloc_private" class="mdl-checkbox__input">
      <span class="mdl-checkbox__label">Privado</span>
    </label>

  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
            onclick="createBloc()">
      Criar
    </button>
    <button type="button" class="close mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Cancelar
    </button>
  </div>
</dialog>
