<h1 align="center">Banco de Textos de Professoras (BTP)</h1>
<p>
  O Banco de Textos de Professoras (BTP) integra o Banco de Dados do Projeto
  <a href="https://wp.ufpel.edu.br/obeducpacto/obeduc-pacto/">Obeduc-Pacto/UFPel</a>,
  o qual está vinculado ao <a href="https://wp.ufpel.edu.br/geale">Grupo de Estudos
  sobre Aquisição da Linguagem Escrita (GEALE)</a>. O banco reúne produções elaboradas
  pelas professoras participantes do programa PNAIC-UFPel, como textos, planejamentos,
  relatórios, entre outros materiais.
</p>

<p>
  O primeiro conjunto de textos do BTP é composto de 3405 produções escritas elaboradas
  por professoras Orientadoras de Estudo (OEs) participantes do programa de formação
  continuada Pacto Nacional pela Alfabetização na Idade Certa (PNAIC).
</p>

<h2><u>A coleta dos textos</u></h2>
<p>
  Nas formações do PNAIC de 2013, foram realizadas coletas sistemáticas durante os encontros
  ocorridos ao longo do ano, com sete questões no total. Uma das formas de coleta de dados
  utilizadas foi a aplicação de questões abertas que indagavam sobre temáticas trabalhadas em
  cada encontro de formação. As questões foram respondidas de forma escrita pelas OEs. No ano
  de 2014, foi realizada uma segunda coleta com foco em quatro questões que articulavam os temas
  de investigação.
</p>

<p align="center">
  Na tabela 1, a seguir, é possível analisar as questões propostas para cada temática.
</p>

<p>
  Tabela 1: Questões propostas para a elaboração dos textos do primeiro conjunto de textos
</p>

<table align="center">
  <thead>
    <tr>
      <th>QUESTÕES 2013</th>
      <th>SIGLA</th>
      <th>QUESTÕES 2014</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        O que você entender por <b>alfabetização e letramento</b>?
      </td>
      <td><b>ALFLET</b></td>
      <td>
        O que você entender por <b>alfabetização e letramento</b>?
      </td>
    </tr>
    <tr>
      <td>
        A <b>escrita alfabética:</b> por que ela é um sistema notacional e não um código?
        Como as crianças dela se apropriam?
      </td>
      <td><b>SEA</b></td>
      <td>
        A <b>escrita alfabética:</b> por que ela é um sistema notacional e não um código?
        Como as crianças dela se apropriam?
      </td>
    </tr>
    <tr>
      <td>
        Como <b>avalias</b> as aprendizagens? Como verificar se os objetivos traçados foram
        alcançados?
      </td>
      <td><b>ALFLET</b></td>
      <td>
        Que aspectos e princípios devem ser considerados no processo de <b>planejamento</b>
        do ensino nos anos iniciais? E, no seu ponto de vista, como a <b>avaliação</b> está
        articulada ao processo de planejamento de ensino?
      </td>
    </tr>
    <tr>
      <td>
        Que princípios devem ser considerados no processo de <b>planejamento</b> do ensino
        nos anos iniciais? O que devemos considerar para planejar o processo de alfabetização
        e ensino/aprendizagem de Língua Portuguesa?
      </td>
      <td><b>PPALP</b></td>
    </tr>
    <tr>
      <td>
        O que é <b>ludicidade</b> e de que forma é contemplada na organização do teu trabalho
        pedagógico no ciclo de alfabetização?
      </td>
      <td><b>LUDOTP</b></td>
    </tr>
    <tr>
      <td>
        Como a escola relaciona as questões próprias da <b>cultura da infância</b> com o ensino
        sistematizado, os conhecimentos científicos e culturais, próprios da <b>cultura escolar</b>?
      </td>
      <td><b>CICE</b></td>
    </tr>
    <tr>
      <td>
        O que tu entendes por <b>heterogeneidade</b> na sala de aula de alfabetização, pensando no
        ensino e na aprendizagem? E como trabalhar a partir dela?
      </td>
      <td><b>HETOTP</b></td>
    </tr>
  </tbody>
</table>
<p>Fonte: GEALE – Obeduc-Pacto/UFPel.</p>

<h2><u>O tratamento dos textos</u></h2>
<p>
  Os textos escritos passam por um processo de tratamento que envolve codificação, digitação, digitalização
  e arquivamento, possibilitando a organização do material em formato digital e físico.
</p>

<p>
  Para organização do primeiro conjunto de textos, das OEs, foi utilizado um padrão de codificação de produção
  escrita.<br>
  Ex: <b>SEA2013PAT13-1</b>
</p>

<p>
  <b>SEA</b>: refere-se à acronym estabelecida para a temática da produção textual coletada.
</p>

<p>
  <b>2013</b>: refer-se ao ano em que foi realizada a coleta.
</p>

<p>
  <b>PA</b>: refere-se ao region que agrupa um conjunto de municípios em que atuam as participantes
  da formação. Para cada region, foi indicado uma acronym: PA = Porto Alegre; O = Osório; P = Pelotas.
</p>

<p>
  <b>T13</b>: refere-se ao número da Turma, no caso acima, T13 é igual a Turma 13.
</p>

<p>
  <b>-1</b>: refere-se ao número do texto coletado.
</p>

<p>
  A seguir, faz-se o processo de digitação do texto em documento Word, mantendo-se a grafia e a estrutura
  textual empregada, sem qualquer tipo de correção. Após, os textos são digitalizados e salvos em formato
  JPEG ou PDF.
</p>

<p>
  O primeiro conjunto de textos do BTP foi organizado considerando cada uma das temáticas das produções escritas.
  Criou-se uma pasta digital para cada temática, mantendo o agrupamento dos textos por turma de formação. Nessas
  pastas foram arquivados os textos digitados, salvos em documento Word, e digitalizados, em formato de arquivo
  JPEG ou PDF. Após o armazenamento na pasta digital, o material físico foi acondicionado em pastas catalográficas,
  que também estão separadas por temáticas e turmas. Na tabela 2, a seguir, o número de textos por temática e ano
  pode ser verificado.
</p>

<p>
  Tabela 2 - Número de textos do primeiro conjunto de textos do BTP por temática
</p>

<table align="center">
  <thead>
    <tr>
      <th><b>TEMÁTICA</b></th>
      <th><b>Nº DE TEXTOS 2013</b></th>
      <th><b>Nº DE TEXTOS 2014</b></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="center">SEA</td>
      <td align="center">319</td>
      <td align="center">286</td>
    </tr>
    <tr>
      <td align="center">ALFLET</td>
      <td align="center">290</td>
      <td align="center">346</td>
    </tr>
    <tr>
      <td align="center">PPALP</td>
      <td align="center">315</td>
    </tr>
    <tr>
      <td align="center">AVA</td>
      <td align="center">368</td>
    </tr>
    <tr>
      <td align="center">LUDOTP</td>
      <td align="center">406</td>
    </tr>
    <tr>
      <td align="center">CICE</td>
      <td align="center">392</td>
    </tr>
    <tr>
      <td align="center">HETOTP</td>
      <td align="center">443</td>
    </tr>
    <tr>
      <td align="center">PPALPeAVA</td>
      <td align="center"></td>
      <td align="center">240</td>
    </tr>
    <tr>
      <td align="center">TOTAL</td>
      <td align="center">2533</td>
      <td align="center">872</td>
    </tr>
  </tbody>
</table>
<p>
  Fonte: GEALE – Obeduc-Pacto/UFPel.
</p>

<h2><u>Questões éticas</u></h2>
<p>
  É importante destacar que qualquer forma de identificação das professoras participantes das coletas
  é suprimida no processo de tratamento dos textos, de forma a preservar sua identidade bem como impedir
  qualquer forma de exposição, respeitando-se, assim, as normas éticas constitutivas da pesquisa científica.
  Ressalta-se, também, que as produções são coletadas mediante assinatura do Termo de Consentimento Livre e
  Esclarecido pelas professoras participantes.
</p>

<h2><u>Como fazer referência ao BTP?</u></h2>
<p>
  NÖRNBERG, M. BTP: Banco de Textos de Professoras. Faculdade de Educação. Universidade Federal de Pelotas.
  2013. Disponível em: sistemavestigios.org
</p>
