<h1 align="center">Grupo de Estudos sobre Aquisição da Linguagem Escrita (GEALE)</h1>
<p>
  O <a href="https://wp.ufpel.edu.br/geale/">Grupo de Estudos sobre Aquisição da
  Linguagem Escrita (GEALE)</a> é constituído por pesquisadores que estudam a produção
  escrita do ponto de vista de sua aquisição e de seu ensino. Está vinculado ao Programa
  de Pós-Graduação em Educação (PPGE) da Universidade Federal de Pelotas (UFPel) e ao
  Conselho Nacional de Desenvolvimento Científico e Tecnológico (CNPq).
</p>
<p>
  O GEALE surgiu em 2001 a partir do desenvolvimento do projeto de pesquisa "Aquisição e
   Desenvolvimento da Escrita: ortografia e acentuação" que resultou na criação do
   <a href="">Banco de Textos de Aquisição da Linguagem Escrita (BATALE)</a>, constituído
   por produções escritas de crianças brasileiras e portuguesas que cursam as séries
   iniciais do Ensino Fundamental, além de textos produzidos por alunos de educação de jovens
   e adultos, o EJA. O BATALE, da maneira como foi concebido, permite que sejam desenvolvidas
   investigações que envolvam aspectos estruturais – fonológicos, morfológicos e sintáticos –
   assim como aqueles relativos ao texto e ao discurso.
</p>
<p>
  As pesquisas do GEALE procuram abordar, de um lado, as relações entre o conhecimento linguístico
  da criança e sua escrita inicial, bem como entre os erros extraídos das produções textuais e as
  complexidades inerentes ao sistema ortográfico; e, de outro, as relações entre aprendizagem e ensino,
  além de produzir reflexões sobre a formação teórica de professores. As áreas de investigação privilegiadas
  nos estudos são: Aquisição da Linguagem; Fonologia e Ortografia; Morfologia e Ortografia; Alfabetização e
  Letramento; Formação de Professores e Prática Pedagógica.
</p>

<p>Os temas das pesquisas do GEALE podem ser sistematizados como segue:</p>
<ol>
  <li>
    descrição do processo de aquisição e de desenvolvimento da escrita em crianças da educação básica;
  </li>
  <li>
    análise de processos individuais e de tendências gerais encontradas durante o desenvolvimento da escrita;
  </li>
  <li>
    comparação de aspectos de aquisição da fala com dados de escrita inicial;
  </li>
  <li>
    formulação de propostas para o aprimoramento do ensino de língua materna;
  </li>
  <li>
    discussão referente à repercussão da formação teórica nas práticas de ensino de linguagem e no desenvolvimento
    profissional do professor.
   </li>
</ol>

<p>
  Nos últimos cinco anos, o GEALE acolheu um amplo projeto de pesquisa no âmbito do Observatório da Educação/CAPES,
  intitulado “Pacto Nacional pela Alfabetização na Idade Certa: formação de professores e melhoria dos índices de
  leitura e escrita no ciclo de alfabetização (1º ao 3º ano do ensino fundamental)”
  (<a href="https://wp.ufpel.edu.br/obeducpacto/obeduc-pacto/">Obeduc-Pacto/UFPel</a>). O objetivo do projeto foi o
  de acompanhar o processo de formação continuada das professoras vinculadas às ações do Pacto Nacional pela
  Alfabetização na Idade Certa no âmbito da Universidade Federal de Pelotas (PNAIC-UFPel), a fim de verificar efeitos
  sobre os índices de leitura e escrita das crianças e das práticas de formação. Um dos resultados desse projeto, por
  sua vez, foi a criação do <a href="">Banco de Textos de Professoras (BTP)</a>, constituído por produções escritas
  (textos, relatórios de atividades, planejamentos, entre outros) elaboradas por professoras da educação básica,
  participantes do PNAIC-UFPel. Recentemente, o BTP está incorporando também produções das estudantes do curso de
  Pedagogia da UFPel que realizam o estágio curricular nos anos iniciais.
</p>

<p>
  As pesquisas que têm como base as produções que compõem o BTP investigam as relações entre formação intelectual (domínio
  conceitual e articulação teórico-prática) e prática pedagógica (o ensino reflexivo) e os processos de desenvolvimento
  profissional. Um dos pressupostos que sustentam as pesquisas realizadas está na compreensão de que a formação das
  professoras alfabetizadoras requer uma sólida e consistente formação intelectual, que prima pelo domínio conceitual e a
  compreensão sobre a natureza dos fenômenos e processos de produção do conhecimento sobre escrita e leitura e o seu
  ensino. O desenvolvimento profissional docente acontece em e decorre de encontros produzidos no interior de uma determinada
  prática, o que remete à imagem da docência como uma profissão de ação, porque se constitui no cotidiano da sala de aula,
  da escola ou da universidade, e como uma profissão intelectual, que implica formação teórica e liberdade de pensamento.
</p>

<p>
  A partir do trabalho com os dados e do desenvolvimento dos projetos de pesquisa, surgiu a necessidade e, felizmente, a
  oportunidade de criar um sistema virtual que funcionasse tanto como repositório quanto como ferramenta de análise para
  os textos de ambos os Bancos, BATALE e BTP. Assim é concebido o <a href="">Sistema Vestígios</a>, em uma parceria com a
  <a href="http://www.hut8.com.br/">Hut8</a>, Empresa Júnior do curso de Ciências da Computação da UFPel.
</p>
