<h1 align="center">Sistema Vestígios</h1>

<h2><u>Do que se trata o sistema Vestígios?</u></h2>
<p>
  O Sistema Vestígios é um software que funciona tanto como repositório quanto como ferramenta de análise de textos
  que constituem o Banco de Textos de Aquisição da Linguagem Escrita (BATALE) e o Banco de Textos de Professoras (BTP),
  ambos vinculados ao <a href="https://wp.ufpel.edu.br/geale/">Grupo de Estudos sobre Aquisição da Linguagem Escrita (GEALE)</a>,
  grupo de pesquisa associado ao Conselho Nacional de Desenvolvimento Científico e Tecnológico (CNPq) e à Universidade Federal
  de Pelotas (UFPel).
</p>

<h2><u>Por que <em>Vestígios</em>?</u></h2>
<p>
  Segundo o Dicionário Houaiss da Língua Portuguesa (2001, p. 2853), <em>vestígio</em> significa “<b>1</b>
  pisada ou marca deixada por homem ou animal nos caminhos por onde passa; rastro, pegada <b>2</b> fig.
  aquilo que restou (de alguma coisa que se destruiu, que desapareceu) [...] <b>3</b> qualquer marca, traço,
  indício, sinal que localizem alguém ou algo, ou permitam deduzir que um fato ocorreu, ou descobrir quem dele participou
  [...] <b>ETIM lat.</b> <em>vestigîum</em> ‘planta ou sola dos pés (das pessoas e dos animais), pegada, pista, rastro;
  traço, sinal, marca’ [...]”.
</p>
<p>
  A escolha por esse nome – <em>Vestígios</em> – vem de um esforço para sintetizar e ao mesmo tempo unir e traduzir
  conceitualmente as pesquisas que envolvem BATALE e BTP. O significado atual atribuído a <em>vestígio</em> assim como
  seu étimo na língua portuguesa traduzem esse esforço.
</p>
<p>
  <em>Vestígio</em> é a marca, o rastro, o traço deixado por alguém em alguma superfície. <em>Vestígio</em> é a pista
  que nos permite encontrar respostas às perguntas que formulamos, que nos possibilita criar hipóteses interpretativas
  capazes de produzirem explicações para os dados que analisamos, a partir das reconstruções de possíveis formas de
  pensamento subjacentes às formas produzidas pelos sujeitos, sejam crianças sejam professoras.
</p>
<p>
  É interessante lembrar que o verbo investigar também compartilha a mesma raiz de <em>vestígio</em>. Dessa maneira, parece
  ser a natureza de qualquer atividade de pesquisa, de <em>investigação</em>, o debruçar-se sobre (in-) vestígios (vestig-),
  isto é, os traços, as pistas, as marcas, as ideias deixadas por algo ou alguém.
</p>
<p>
  Nesse sentido, a pergunta que move as investigações em torno do BATALE pode ser assim formulada: <em>qual a natureza do erro
  produzido pelas crianças dos anos iniciais?</em> Para respondê-la analisamos o erro que nomeamos como (orto)gráfico, a fim de
  compreender se aquilo que o motiva tem como base o conhecimento linguístico, mais especificamente o fonológico, ou se são as
  complexidades inerentes ao sistema ortográfico, derivadas da relações múltiplas entre fonemas e grafemas.
</p>
<p>
  Já a pergunta do BTP pode ser assim formulada: <em>qual é a racionalidade que sustenta e organiza a prática pedagógica de professoras
  dos anos iniciais que participam de processos de formação acadêmico-profissional?</em> Nessa direção, buscamos, nas produções escritas,
  pistas que revelem as razões, sejam de ordem teórica ou prática, que as professoras utilizam para justificar, planejar e desenvolver
  suas práticas junto a crianças dos anos iniciais do ensino fundamental. Também é interesse dos estudos, compreender aspectos relacionados
  à vontade das professoras – a dimensão ética da ação docente. É no contexto de formação acadêmico-profissional e de exercício docente que
  processos de desenvolvimento profissional se articulam e se realizam, forjando uma determinada identidade docente, própria da professora
  alfabetizadora.
</p>

<h2><u>Como fazer referência ao Sistema Vestígios?</u></h2>
<p>NÖRNBERG, M.; MIRANDA, A. R. M.; PACHALSKI, L.; SOUTO, L. K.; JÄGER, J.J.; ALMEIDA, H. G; MOREIRA, E. BR 00 0000 000000-0, 2018.</p>

<h2><u>Créditos: concepção e elaboração do Sistema Vestígios</u></h2>
<em>Pesquisadoras:</em>
<ul>
  <li><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4790384Z4">Ana Ruth Moresco Miranda</a></li>
  <li><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4319544D3">Josiane Jarline Jäger</a></li>
  <li><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4842751A5">Lissa Pachalski</a></li>
  <li><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4812048Y5">Luiza Kerstner Souto</a></li>
  <li><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4775886Y2">Marta Nörnberg</a></li>
</ul>
<em>Programadores:</em>
<ul>
  <li><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K8580290H6">Érick Fernandes Moreira</a></li>
  <li><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K8580290H6">Heitor Augusto Grosskopf Almeida</a></li>
</ul>

<h2><u>Agradecimentos:</u></h2>
<ul>
  <li><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4318639A3">Isabel de Freitas Vieira Coimbra</a></li>
  <li><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4073487J9">Jaqueline Costa Rodrigues</a></li>
  <li><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4125877U6">Juliana Mendes Oliveira Jardim</a></li>
  <li><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4282005T1">Valéria Alessandra Coelho Islabão</a></li>
  <li><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4707588Y6">Lourenço Chachon Jurado Filho</a></li>
</ul>

<h2><u>Apoio:</u></h2>
<p>CAPES – Programa Observatório da Educação</p>
<p>CNPq</p>
