<section class="mdl-layout__tab-panel is-active" id="fixed-tab-system">
  <div class="page-content">
    <%= render partial: "site/system_info" %>
  </div>
</section>
<section class="mdl-layout__tab-panel" id="fixed-tab-geale">
  <div class="page-content">
    <%= render partial: "site/geale_info" %>
  </div>
</section>
<section class="mdl-layout__tab-panel" id="fixed-tab-batale">
  <div class="page-content">
    <%= render partial: "site/batale_info" %>
  </div>
</section>
<section class="mdl-layout__tab-panel" id="fixed-tab-btp">
  <div class="page-content">
    <%= render partial: "site/btp_info" %>
  </div>
</section>
<section class="mdl-layout__tab-panel" id="fixed-tab-form">
  <div class="page-content" style="margin:0px;padding:0px;overflow:hidden">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe6EKQnjH2cAuxe4s2nPIENicdufHYxtRjVjdpVDHglJHvRMw/viewform?embedded=true"
            width="100%"
            height="500"
            frameborder="0" marginheight="0" marginwidth="0">
      Carregando…
    </iframe>
  </div>
</section>
